<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Capture_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{221,275},{91,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{91,130}}</string>
				<key>sourceSize</key>
				<string>{91,130}</string>
			</dict>

			<key>Capture_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{114,250},{106,147}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{106,147}}</string>
				<key>sourceSize</key>
				<string>{106,147}</string>
			</dict>

			<key>Capture_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{131,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{131,123}}</string>
				<key>sourceSize</key>
				<string>{131,123}</string>
			</dict>

			<key>Capture_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,250},{113,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{113,125}}</string>
				<key>sourceSize</key>
				<string>{113,125}</string>
			</dict>

			<key>Capture_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{221,146},{96,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{96,128}}</string>
				<key>sourceSize</key>
				<string>{96,128}</string>
			</dict>

			<key>Capture_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{132,0},{101,145}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{101,145}}</string>
				<key>sourceSize</key>
				<string>{101,145}</string>
			</dict>

			<key>Capture_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,124},{124,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{124,125}}</string>
				<key>sourceSize</key>
				<string>{124,125}</string>
			</dict>

			<key>Capture_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,376},{113,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{113,128}}</string>
				<key>sourceSize</key>
				<string>{113,128}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{512,512}</string>
			<key>textureFileName</key>
			<string>sprites.png</string>
			</dict>
		</dict>
</plist>