<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>background5.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{715,1200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{715,1200}}</string>
				<key>sourceSize</key>
				<string>{715,1200}</string>
			</dict>

			<key>dragon2_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1728},{96,101}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{96,101}}</string>
				<key>sourceSize</key>
				<string>{96,101}</string>
			</dict>

			<key>dragon2_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{90,1925},{64,105}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{64,105}}</string>
				<key>sourceSize</key>
				<string>{64,105}</string>
			</dict>

			<key>dragon2_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1620},{96,107}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{96,107}}</string>
				<key>sourceSize</key>
				<string>{96,107}</string>
			</dict>

			<key>dragon2_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1830},{95,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{95,94}}</string>
				<key>sourceSize</key>
				<string>{95,94}</string>
			</dict>

			<key>explosion_1_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{96,1888},{35,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{35,33}}</string>
				<key>sourceSize</key>
				<string>{35,33}</string>
			</dict>

			<key>explosion_1_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{203,1433},{42,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{42,39}}</string>
				<key>sourceSize</key>
				<string>{42,39}</string>
			</dict>

			<key>explosion_1_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{160,1710},{48,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{48,44}}</string>
				<key>sourceSize</key>
				<string>{48,44}</string>
			</dict>

			<key>explosion_1_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{155,1999},{52,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{52,48}}</string>
				<key>sourceSize</key>
				<string>{52,48}</string>
			</dict>

			<key>explosion_1_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{160,1602},{55,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{55,51}}</string>
				<key>sourceSize</key>
				<string>{55,51}</string>
			</dict>

			<key>explosion_1_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{155,1945},{59,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{59,53}}</string>
				<key>sourceSize</key>
				<string>{59,53}</string>
			</dict>

			<key>explosion_1_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{141,1546},{60,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{60,55}}</string>
				<key>sourceSize</key>
				<string>{60,55}</string>
			</dict>

			<key>explosion_1_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{141,1490},{61,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{61,55}}</string>
				<key>sourceSize</key>
				<string>{61,55}</string>
			</dict>

			<key>explosion_1_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{141,1375},{62,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{62,57}}</string>
				<key>sourceSize</key>
				<string>{62,57}</string>
			</dict>

			<key>explosion_1_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{97,1620},{62,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{62,57}}</string>
				<key>sourceSize</key>
				<string>{62,57}</string>
			</dict>

			<key>explosion_1_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{141,1317},{62,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{62,57}}</string>
				<key>sourceSize</key>
				<string>{62,57}</string>
			</dict>

			<key>explosion_1_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{97,1678},{62,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{62,57}}</string>
				<key>sourceSize</key>
				<string>{62,57}</string>
			</dict>

			<key>explosion_1_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{96,1830},{62,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{62,57}}</string>
				<key>sourceSize</key>
				<string>{62,57}</string>
			</dict>

			<key>explosion_1_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{141,1201},{62,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{62,57}}</string>
				<key>sourceSize</key>
				<string>{62,57}</string>
			</dict>

			<key>explosion_1_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{141,1259},{62,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{62,57}}</string>
				<key>sourceSize</key>
				<string>{62,57}</string>
			</dict>

			<key>explosion_1_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{97,1736},{62,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{62,57}}</string>
				<key>sourceSize</key>
				<string>{62,57}</string>
			</dict>

			<key>explosion_1_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{141,1433},{61,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{61,56}}</string>
				<key>sourceSize</key>
				<string>{61,56}</string>
			</dict>

			<key>explosion_1_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{155,1888},{59,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{59,56}}</string>
				<key>sourceSize</key>
				<string>{59,56}</string>
			</dict>

			<key>explosion_1_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{159,1794},{57,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{57,56}}</string>
				<key>sourceSize</key>
				<string>{57,56}</string>
			</dict>

			<key>explosion_1_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{160,1654},{54,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{54,55}}</string>
				<key>sourceSize</key>
				<string>{54,55}</string>
			</dict>

			<key>explosion_1_21.png</key>
			<dict>
				<key>frame</key>
				<string>{{202,1546},{45,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{45,49}}</string>
				<key>sourceSize</key>
				<string>{45,49}</string>
			</dict>

			<key>explosion_1_22.png</key>
			<dict>
				<key>frame</key>
				<string>{{203,1473},{38,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{38,45}}</string>
				<key>sourceSize</key>
				<string>{38,45}</string>
			</dict>

			<key>explosion_1_23.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,2015},{24,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{24,28}}</string>
				<key>sourceSize</key>
				<string>{24,28}</string>
			</dict>

			<key>explosion_1_24.png</key>
			<dict>
				<key>frame</key>
				<string>{{25,2031},{7,8}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{7,8}}</string>
				<key>sourceSize</key>
				<string>{7,8}</string>
			</dict>

			<key>explosion_1_25.png</key>
			<dict>
				<key>frame</key>
				<string>{{25,2040},{4,5}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{4,5}}</string>
				<key>sourceSize</key>
				<string>{4,5}</string>
			</dict>

			<key>fire_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1201},{140,418}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,4},{140,418}}</string>
				<key>sourceSize</key>
				<string>{141,425}</string>
			</dict>

			<key>meteor.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1925},{89,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{14,1},{89,89}}</string>
				<key>sourceSize</key>
				<string>{110,91}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{1024,2048}</string>
			<key>textureFileName</key>
			<string>sprites.png</string>
			</dict>
		</dict>
</plist>