<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>background5.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{715,1200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{715,1200}}</string>
				<key>sourceSize</key>
				<string>{715,1200}</string>
			</dict>

			<key>dragon2 (1).png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1728},{96,101}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{96,101}}</string>
				<key>sourceSize</key>
				<string>{96,101}</string>
			</dict>

			<key>dragon2 (2).png</key>
			<dict>
				<key>frame</key>
				<string>{{90,1925},{64,105}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{64,105}}</string>
				<key>sourceSize</key>
				<string>{64,105}</string>
			</dict>

			<key>dragon2 (3).png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1620},{96,107}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{96,107}}</string>
				<key>sourceSize</key>
				<string>{96,107}</string>
			</dict>

			<key>dragon2 (4).png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1830},{95,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{95,94}}</string>
				<key>sourceSize</key>
				<string>{95,94}</string>
			</dict>

			<key>fire_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1201},{140,418}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,4},{140,418}}</string>
				<key>sourceSize</key>
				<string>{141,425}</string>
			</dict>

			<key>meteor.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1925},{89,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{14,1},{89,89}}</string>
				<key>sourceSize</key>
				<string>{110,91}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{1024,2048}</string>
			<key>textureFileName</key>
			<string>sprites.png</string>
			</dict>
		</dict>
</plist>